h1 Contribute
:markdown
  * ## Developer:
    * We are currently looking for a core team of developers: front-end web developers, backend web developers, mobile developers, and designers. This team will help build two initial software components: a mobile app framework for schools, and a website framework for schools.
    * Aside from that, we also appreciate open source contributions to all of our software, which can be found on [Github](https://github.com/openSourceSchool).
  * ## Beta Tester:
    * As a beta tester, you would simply download the app/visit the website that we develop, and test the features and give us feedback as to what is not working, what could be improved, and what you liked.
  * ## Ambassador
    * As an ambassador, you would approach your school, proposing the usage of openSourceSchool's software, as well as modify and maintain the software for your school.
