#main
  h1 It's time to change the way educational technology works. It's time to go openSource.
  a.btn(href="/about") Learn More
#info
  .box.one
    h1
      i.icon.ion-ios7-people
      | Built through collaboration
    p
      | Through the medium of open-source and tools like Git/Github, the software will be built by a large network of students, incoporating the ideas and vision of the users, not the enterprise.
  .box.two
    h1
      i.icon.ion-android-mixer
      | Made to customize and change
    p
      | Not all schools have the same brand, ideas, and needs. Open-source software is a good way to allow schools and students to customize their software to their own needs.
  .box.three
    h1
      i.icon.ion-ios7-browsers
      | Cross-platform compatibility
    p
      | Unlike most platforms that today's school use, open-source software will allow for compatibility among all types of systems. Don't see anything for your school's computer? Fork and start it up your self.
#request
  form(action="//api.formspree.com/krishna.dholakiya@gmail.com", method="POST", target="hidden_iframe", onsubmit="submitted=true;")
    input(type="hidden" value="Info Request - openSourceSchool", name="Purpose:")
    input(type="email" placeholder="Email Address", name="_replyto")
    input(type="submit" value="Request More Info")
  iframe(style="display:none;", name="hidden_iframe", onload="if(submitted) { alert('Thanks! We will get back to you soon.'); submitted=false;}")
